extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Sheena Salmon

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | I am a Javascript developer witha passion for creating new interactive sites.  This portfolio showcases some of the projects that I Ihave been able to create with the use of Javascript.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Hardcoded list of skills
        ul
          li Express
          li Javascript
          li Node JS
          li HTML
          li AJAX 
          li CSS

        h6 Contact Info

         //- I have not updated my contact info from the original provided
        ul
          li 555-555-1234
          li email@email.com

        
        //- The Links for LinkedIn and Twitter haven not be updated on purpose,  I have commented them out
        //- a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/SheenaSalmon') GitHub
        //- a.button.expanded(href='') Twitter
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back 