extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← HomePage
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- The error message an error number are printed below
        h1= error.message
        h2= error.status

       
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← HomePage
  