extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      
      h1 Online Portfolio

      
      p.lead.text-light
        | I have multiple coding skill and what better way for you to see them than in an online portfolio.   
        | Each project shows some frontend and backend projects that were created using JavaScript and other programming languages.  

  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Iterate of the project array and list the the title of the project along with a link and image
      each proj in projects
        .cell
          a(href=`/project/${proj.id}`)
            img.thumbnail(src=`/static/images/${proj.images_urls[0]}`)
            h5 #{proj.project_name}
      
